# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Secrets
terraform.tfvars
ansible/inventory.yml
ansible/group_vars/all.yml

# Ansible
*.retry

# Local SSH keys
!*.pub
*.pub

# IDE
.vscode/
.idea/

# OS
.DS_Store