# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Secrets
terraform.tfvars
ansible/inventory.yml
ansible/group_vars/all.yml
ansible/group_vars/all/infrastructure.yml

# Ansible
*.retry

# SSH keys (ignore all, then explicitly allow .pub files)
id_*
!id_*.pub

# IDE
.vscode/
.idea/

# OS
.DS_Store